body {
    width: 100%;
    text-align: center;
}
input {
    margin: 1.5%;
    border-radius: 20%;
    height: 30px;
    width: 200px;
    text-align: center;
    background-color: whte;
    color: white;
}
.boardWrapper {
    background: white;
    opacity: 0.95;
    padding: 20px;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: sans-serif;
    align-content: center;
}

.wordContainer {
    margin: 5% 20%;
    font-size: 36px;
    max-width: 90%;
    color: rgb(0, 188, 212);
}
.background{
    position: absolute;
    z-index: -1;   
    width: 100%;
    height: 100%;
    background-image: url("../images/usMapass.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.score {
    flex: 1;
    margin-top: 7%;
    margin-bottom: 10%;
    color: rgb(0, 188, 212);
}
.wins {
    color: rgb(164, 198, 57);
    font-size: 16px;
}
.losses {
    color: rgb(255, 64, 129);
    font-size: 16px;
}
.guessedLetters{
    padding-top: 7%;
    font-size: 20px;
}
.remaining { 
    color: rgb(0, 188, 212);
    font-size: 16px;
}
.loss {
    color: rgb(255, 64, 129);
    font-size: 20px;
}
.paperInner {
    padding: auto;
    text-align: center;
    margin-top: 10%;
    background-color: white;
    opacity: 1;
}
.guesses {
    border-radius: 25px;
    border: 1px solid rgb(0, 188, 212);
    background-color: rgb(0, 188, 212);
    color: white;
    font-size: 20px;
    height: 75px;
    margin: 3% 20%;
}
.title {
    color: rgb(0, 188, 212);
    font-weight: bold;
    font-size: 36px;
    margin-top: 7%;
}